<div class="modal fade" id="confirmModal" tabindex="-1" aria-labelledby="confirmModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-sm modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header bg-light border-bottom">
        <h4 class="modal-title h6 mb-0" id="confirmModalTitle">
          <i class="bi bi-exclamation-triangle-fill me-2"></i>
          Confirmation
        </h4>
        <div class="text-end">
          <button type="button" class="btn-close me-2 mt-2" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
      </div>
      <div class="modal-content">
        <div class="modal-body">
          <div class="modalContent">
            <div id="confirmModalBody" class="text-center">
              <!-- The message will be placed here -->
            </div>
            <div class="btnGroup">
              <button type="button" class="btn btn-danger mx-auto" id="confirmModalButton">Confirm</button>
              &nbsp;
              <button type="button" class="btn btn-secondary mx-auto" data-bs-dismiss="modal">Cancel</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
