{% load humanize %}
<div class="tableRow">
<table id="orderTable" class="table table-striped" style="width: 100%">
  <thead>
      <tr>
            <th>Date</th>
            <th>Status</th>
            <th>Order #</th>
            <th>Quote Name</th>
            <th>Quote #</th>
            {% if user.role == "AppAdmin" or user.role == "AppManager" %}
             <th>Dealer Account</th>
           {% endif %}
            <th>Ordered By</th>
            <th>TOTAL SELL</th>
            <th>TOTAL COST</th>
            
            <th>Last Modified</th>
            {% if request.path != '/utils/search/' %}
            <th id="action">Action</th>
            {% endif %}
     </tr>
  </thead>
  <tbody>
        {% for order in orders %}
          <tr>
            <td>{{ order.created_at|date:'F j, Y' }}</td>
            <td class="colorBG">
              {% if order.status == 'pending' %}
            <span class="bg-info text-white">Pending</span>
            {% elif order.status == 'accepted' %}
            <span class="bg-success text-white">Accepted</span>
            {% elif order.status == 'canceled' %}
            <span class="bg-danger text-white">Canceled</span>
            {% else %}
            <span class="other-bubble">{{order.status|capfirst }}</span>
            {% endif %}
            </td>
            <td><a href="{% url 'base-view-order' order.id %}">{{ order.id }}<a></td>
            <td>{{ order.quote.name }}</td>
            <td><a href="{% url 'base-view-quote' order.quote.id %}">{{ order.quote.id }}</a></td>
            {% if user.role == "AppAdmin" or user.role == "AppManager" %}
            <td>{{ order.owner.dealer_account }}</td>
            {% endif %}
            <td>{{ order.owner }}</td>
            <td>$ {{ order.quote.total_sell|floatformat:2|intcomma|intword }}</td>
            <td>$ {{ order.total_cost|floatformat:2|intcomma|intword }}</td>
            
            <td>{{ order.updated_at | date:'F j, Y'}}</td>
            {% if request.path != '/utils/search/' %}
            <td class="">
              <div class="dropdown-toggle" data-bs-toggle="dropdown">
                <i class="bi bi-three-dots-vertical"></i>
              </div>
              <ul class="actionDropMenu dropdown-menu dropdown-menu-end">
                <h6 class="dropdown-header">Action</h6>
                <li class="dropdown-item" onclick="navigateTo('{% url 'base-view-order' order.id %}')"><i class="bi bi-eye"></i>View</li>
                <li class="dropdown-item" 
                    onclick="deleteOrderItem('{% url 'base-delete-order' order.id %}')">
                <i class="bi bi-trash3"></i>Delete
                </li>
              </ul>
            </td>
            {% endif %}
          </tr>
          {% endfor %}
  </tbody>
</table>
</div>
