{% load static %}{% load notifications_extras %}
<section class="main">
  <nav class="navbar navbar-expand-lg fixed-top">
    <div class="container-fluid topNav">
      <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#sidebar"
        aria-controls="offcanvasExample">
        <span class="togglerIcon" data-bs-target="#sidebar"><i class="bi bi-list"></i></span>
      </button>
      <div class="topNavRight">
        <!-- left search bar -->
        <form class="topNavForm my-3 my-lg-0" method="get" action="{% url 'utils:utils-search_view' %}">
          {% csrf_token %}
          <div class="input-group">
              <span class="searchIcon"><i class="bi bi-search"></i></span>
              {% if active_page %}
                  <input type="hidden" name="active_page" value="{{ active_page }}" />
              {% endif %}
              <input class="form-control" type="search" placeholder="Search {% if active_page %}{{ active_page|title }}{% else %}here{% endif %}..." aria-label="Search" name="q" value="{{ query }}" />
          </div>
        </form>
        <!-- right part -->
        <div class="person">
          <!-- theme toggler -->
          <div class="themeToggler">
            <span class="active">
              <i class="bi bi-moon-fill"></i>
            </span>
            <span class="">
              <i class="bi bi-brightness-high-fill"></i>
            </span>
          </div>
          <!-- =================================== you can copy paste only this part. .======================================== -->
          <!-- notifications -->
          <div class="notificationMain">
            <ul class="navbar-nav">
              <li class="nav-item dropdown dropleft">
                <div class="nav-link dropdown-toggle" role="button" data-bs-toggle="dropdown" aria-expanded="false" data-bs-auto-close="outside">
                  <div class="notifyBell">
                    <span class="bell"><i class="bi bi-bell"></i></span>
                    {% if notifications.count > 0 %}
                    <span class="bellDot"></span>
                    {% endif %}
                  </div>
                </div>
                <ul class="dropdown-menu dorpdown-menu">
                  <li>
                    <div class="dropdown-item notificationHeaderMain">
                      <div class="notificationHeader">
                        <h6>Notifications </h6>&nbsp;
                        <span id="notification-count">{{ notifications.count }} New</span>
                      </div>
                    </div>
                  </li>
                  {% if notifications.count > 0 %}
                  <li style="position: relative;">
                    <div style="text-align: right;padding:5px">  <!-- Add this line -->
                      <a href="{% url 'notifications:remove_all_notifications' %}" id="removeAllNotifications" class="remove-notifications-link">
                        Remove all
                      </a>
                    </div>
                  </li>
                  {% endif %}
                  {% for notification in notifications %}
                  <li id="notification-{{ notification.id }}" style="position: relative;">
                    <a class="dropdown-item" href="#">
                      <div class="notificationBody">
                        <div class="left notification-{{notification.notification_type}}">
                          <i class="{{ NOTIFICATION_ICON_CLASSES|get_item:notification.notification_type }}"></i>
                        </div>
                        <div class="right">
                          <p style="padding-right:5px">
                            {{ notification.message }}
                          </p>
                          <small>{{ notification.date|timesince }} ago</small>
                        </div>
                      </div>
                      <div class="notification-read" data-id="{{ notification.id }}" style="position: absolute; top: 0; right: 5px; cursor: pointer;" title="Remove notification">
                        <i class="bi bi-x"></i>
                      </div>
                    </a>
                  </li>
                  {% empty %}
                  <li><a class="dropdown-item">No new notifications</a></li>
                  {% endfor %}
                </ul>
              </li>
            </ul>
        </div>
        

          <!-- personal info  -->
          <div class="personAllInfo">
            <div class="personMain">
              <div class="personImg">
                <img  src="{{ request.user.profile_pic.url }}"  />
              </div>
              <div class="personInfo">
                <h6>{{ user.first_name }} {{ user.last_name }}</h6>
                <p>{{user.username}} -
                  {% if user.dealer_account %}
                    {{ user.dealer_account }}
                  {% else %}
                    {{ user.role }}
                  {% endif %}
                </p>
              </div>
            </div>
            <ul class="navbar-nav">
              <li class="nav-item dropdown">
                <div class="nav-link dropdown-toggle ms-2" role="button" data-bs-toggle="dropdown"
                  aria-expanded="false">
                  <i class="bi bi-three-dots-vertical"></i>
                </div>
                <ul class="dropdown-menu dropdown-menu-end">
                  <li><a class="dropdown-item" href="{% url 'base-myprofile' %}">View Profile</a></li>
                <li><a class="dropdown-item" href="{% url 'base-update-profile' %}">Edit Profile</a></li>
                <li><a class="dropdown-item" href="{% url 'base-logout' %}">Logout</a></li>
                </ul>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </nav>
  </div>
</section>